/* The Modal (background) */
.report-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Full width */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.report-modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

.report-header {
    display: inline-block;
}
.report-header h2 {
    margin-top: 0;
    margin-bottom: 24px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 28px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.report-modal-content label {
    display: block;
}
.report-modal-content p {
    margin-bottom: 8px;
}
.report-modal-content input[type="text"],
.report-modal-content input[type="email"],
.report-modal-content textarea {
    box-sizing: border-box;
    width: 100%;
}
